@model TransacaoModel


<h3>Registrar Transação</h3>

@{
    var vDescricao = "";
    var vTipo = "";
    var vData = "";
    var vContaId = 0;
    var vPlanoContaId = 0;
    var vValor = 0.0;
    var vId = 0;

    try
    {

        vId = int.Parse(@ViewBag.Registro.Id.ToString());
        vData = DateTime.Parse(@ViewBag.Registro.Data.ToString()).ToString("yyyy-MM-dd");
        vContaId = int.Parse(@ViewBag.Registro.Conta_Id.ToString());
        vPlanoContaId = int.Parse(@ViewBag.Registro.Plano_Conta_Id.ToString());
        vDescricao = @ViewBag.Registro.Descricao.ToString();
        vTipo = @ViewBag.Registro.Tipo.ToString();
        vValor = double.Parse(@ViewBag.Registro.Valor.ToString());
    }
    catch{}
}

<form asp-controller="Transacao" asp-action="Registrar" method="post">
    <input type="hidden" asp-for="Id" value="@vId" />

    <div class="form-group">
        <label for="Data">Descrição:</label>
        <input type="Date" class="form-control" asp-for="Data" value="@vData" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>


    <div class="form-group">

        <label for="Tipo">Tipo:</label>


        @{
        if(vTipo == "R")
        {
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" checked>Receita</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="D" unchecked>Despesa</label></div>
        }
        else
        {
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" unchecked>Receita</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="D" checked>Despesa</label></div>
        }

        }

    </div>

    <div class="form-group">
        <label for="Valor">Valor:</label>
        <input type="number" class="form-control" asp-for="Valor" value="@vValor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Historico">Histórico:</label>
        <textarea rows="5" class="form-control" asp-for="Descricao"  />@vDescricao</textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Conta:</label>
        <select asp-for="Conta_Id" class="form-control">
            @{
                foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                {
                    if (vContaId.ToString() == @item.Id.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Plano de Conta:</label>
        <select asp-for="Plano_Conta_Id" class="form-control">
            @{
                foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
                {
                    if (vPlanoContaId.ToString() == @item.Id.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }

                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-block btn-success">Registrar</button>
</form>